
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Đăng nhập</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Assets/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="~/Assets/plugins/iCheck/square/blue.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <style>

        .text-logo {
            font-size: 24px;
        }

        .col-8 {
            overflow: hidden;
        }

        img {
            height: 100%;
        }
    </style>
</head>
<body class="hold-transition register-page">
    <div class="row">
        <div class="col-8 full-height">
            <img src="~/Assets/dist/img/background-signup.jpg" alt="Alternate Text" />
        </div>
        <div class="col-4 full-height">
            <div class="login-box">
                <div class="login-logo">
                    <b>Hệ thống bỏ phiếu kín <br />E voting</b>
                </div>
                <div class="card">
                    <div class="card-body login-card-body">
                        <p class="login-box-msg">Đăng nhập vào hệ thống</p>
                        @using (Html.BeginForm("check_login", "Home", FormMethod.Post))
                        {
                            <div class="form-group has-feedback">
                                <label>Tên đăng nhập:</label>
                                <input type="text" class="form-control" placeholder="Tài khoản" name="tai_khoan">
                            </div>
                            <div class="form-group has-feedback">
                                <label>Mật khẩu:</label>
                                <input type="password" class="form-control" placeholder="Mật khẩu" name="mat_khau">
                            </div>
                            <div class="row">
                                <div class="col-8">
                                    <div class="checkbox icheck">
                                        <label>
                                            @*<input type="checkbox"> Nhớ mật khẩu*@
                                        </label>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <button type="submit" class="btn btn-primary btn-block btn-flat" value="check_login">Đăng nhập</button>
                                </div>
                            </div>
                        }
                        <p class="mb-1">
                            <a href="#">Quên mật khẩu</a>
                        </p>
                        <p class="mb-0">
                            <a href="~/Signup" class="text-center">Tạo tài khoản</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Assets/plugins/jquery/jquery.min.js"></script>
    <script src="~/Assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Assets/plugins/iCheck/icheck.min.js"></script>
    <script src="~/Assets/plugins/jqueryFullHeight/fullHeight.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.full-height').fullHeight();
        });
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%'
            })
        })
    </script>
</body>
</html>
