
@model CSharpchainWebAPI.Models.TestSendMailController
<fieldset>
    <legend>
        Send Email
    </legend>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        <p>To: (Email address)</p>
        <p>@Html.TextBoxFor(m => m.To)</p>
        <input id="sendMail" type="submit" value="Send" />
    }
</fieldset>

<script>
    $(document).ready(function () {
        $("#sendMail").on("click", function () {
            alert('Gửi mail hành công');
        });

    });
</script>

