
@{
}

<link rel="stylesheet" href="~/Assets/dist/css/welcome.css">
<link rel="stylesheet" href="~/Assets/dist/css/CreateElection.css">
@*<link rel="stylesheet" href="~/Assets/plugins/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="~/Assets/plugins/daterangepicker/daterangepicker-bs3.css">*@
<style>

    input[type="radio"]:checked + label > .hovicon:after {
        pointer-events: none;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        content: '';
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
    }

    input[type="radio"]:checked + label > .hovicon:before {
        speak: none;
        font-size: 48px;
        line-height: 90px;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        display: block;
        -webkit-font-smoothing: antialiased;
        opacity: 1;
    }

    input[type="radio"]:checked + label > .hovicon.effect-1:before {
        top: -7px;
        left: -7px;
        box-shadow: 0 0 0 6px #007bff;
        color: #007bff;
        -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
        -webkit-transform: scale(0.8);
        -moz-transition: -moz-transform 0.4s, opacity 0.4s;
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transition: transform 0.4s, opacity 0.4s;
        transform: scale(0.8);
    }

    /* Effect 1a */
    input[type="radio"]:checked + label > .hovicon.effect-1.sub-a {
        background: #007bff;
        color: #ffffff;
    }

        input[type="radio"]:checked + label > .hovicon.effect-1.sub-a i {
            color: #ffffff;
        }

        input[type="radio"]:checked + label > .hovicon.effect-1.sub-a:after {
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
            opacity: 1;
        }
</style>
<div class="container-fluid">
    <div class="row mb-2">
        <div class="col-12">

            <div class="content">
                <!--content inner-->
                <div class="content__inner">
                    <div class="container overflow-hidden">

                        <!--progress bar-->
                        <div class="row">
                            <div class="col-12 col-lg-8 ml-auto mr-auto mb-4">
                                <br />
                                <div class="multisteps-form__progress">
                                    <button class="multisteps-form__progress-btn js-active" type="button" name="btn_next_title" title="Thông tin">Thông tin</button>
                                    @*<button class="multisteps-form__progress-btn" type="button" name="btn_next_title" title="Cử tri" disabled>Cử tri</button>*@
                                    <button class="multisteps-form__progress-btn" type="button" name="btn_next_title" title="Đầu phiếu" disabled>Đầu phiếu</button>
                                    <button class="multisteps-form__progress-btn" type="button" name="btn_next_title" title="Ứng cử viên" disabled>Ứng cử viên</button>
                                    <button class="multisteps-form__progress-btn" type="button" name="btn_next_title" title="Nội dung" disabled>Nội dung</button>
                                </div>
                            </div>
                        </div>
                        <!--multisteps-form-->
                        <div class="multisteps-form">
                            <!--form panels-->
                            <div class="row">
                                <div class="col-12 m-auto">
                                    <form class="multisteps-form__form">
                                        <!--single form panel-->
                                        <div class="multisteps-form__panel shadow p-4 rounded bg-white js-active" data-animation="scaleIn">
                                            <h3 class="multisteps-form__title">Thông tin đợt bỏ phiếu</h3>
                                            <div class="multisteps-form__content">
                                                <div class="form-row mt-4">
                                                    <div class="col">
                                                        <input id="name_election" class="multisteps-form__input form-control" name="information" type="text" placeholder="Tên đợt bỏ phiếu" />
                                                    </div>
                                                </div>
                                                <div class="form-row mt-4">
                                                    <div class="col">
                                                        <input id="time_start" class="multisteps-form__input form-control datepicker" name="datefilter" type="text" placeholder="Thời gian bắt đầu" />
                                                    </div>
                                                </div>
                                                <div class="form-row mt-4">
                                                    <div class="col">
                                                        <input id="time_end" class="multisteps-form__input form-control datepicker" name="information datefilter" type="text" placeholder="Thời gian kết thúc" />
                                                    </div>
                                                </div>
                                                <div class="button-row d-flex mt-4">
                                                    <button class="btn btn-primary js-btn-prev" type="button" title="Prev">Trước</button>
                                                    <button class="btn btn-primary ml-auto js-btn-next" type="button" name="btn_next" title="Next" disabled>Tiếp</button>
                                                </div>
                                            </div>
                                        </div>
                                        <!--single form panel-->
                                        @*<div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn">
                                            <h3 class="multisteps-form__title text-center">Cử tri</h3>
                                            <div class="multisteps-form__content">
                                                <div class="form-row">
                                                    <div class="card-body card-icon">
                                                        <div class="row">
                                                            <div class="block col-6 text-center">
                                                                <input type="radio" id="type_vote_2" name="type_vote" value="public_voting" hidden />
                                                                <label for="type_vote_2">
                                                                    <i class="hovicon effect-1 sub-a">
                                                                        <i class="fas fa-unlock-alt"></i>
                                                                    </i>
                                                                </label>
                                                                <h4 class="mt-2">Bất kể ai cũng có thể bỏ phiếu</h4>
                                                            </div>
                                                            <div class="block col-6 text-center">
                                                                <input type="radio" id="type_vote_1" name="type_vote" value="private_voting" hidden />
                                                                <label for="type_vote_1">
                                                                    <i class="hovicon effect-1 sub-a">
                                                                        <i class="fas fa-user-shield"></i>
                                                                    </i>
                                                                </label>
                                                                <h4 class="mt-2">Chỉ những người được mời</h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="button-row d-flex">
                                                    <button class="btn btn-primary ml-auto js-btn-next" type="button" name="btn_next" title="Next" disabled>Tiếp</button>
                                                </div>
                                            </div>
                                        </div>*@
                                        <!--single form panel-->
                                        <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn">
                                            <h3 class="multisteps-form__title text-center">Chọn loại đầu phiếu</h3>
                                            <div class="multisteps-form__content">
                                                <div class="form-row">
                                                    <div class="card-body card-icon">
                                                        <div class="row">
                                                            <div class="block col-4 text-center">
                                                                <input type="radio" id="single_vote" name="amount_vote" value="single_vote" hidden />
                                                                <label for="single_vote">
                                                                    <i class="hovicon effect-1 sub-a">
                                                                        <i class="fas fa-user"></i>
                                                                    </i>
                                                                </label>
                                                                <h4 class="mt-2">Single Vote</h4>
                                                            </div>
                                                            <div class="block col-4 text-center">
                                                                <input type="radio" id="multiple_vote" name="amount_vote" value="multiple_vote" hidden />
                                                                <label for="multiple_vote">
                                                                    <i class="hovicon effect-1 sub-a">
                                                                        <i class="fas fa-users"></i>
                                                                    </i>
                                                                </label>
                                                                <h4 class="mt-2">Multiple vote</h4>
                                                            </div>
                                                            <div class="block col-4 text-center">
                                                                <input type="radio" id="ranked_vote" name="amount_vote" value="ranked_vote" hidden />
                                                                <label for="ranked_vote">
                                                                    <i class="hovicon effect-1 sub-a">
                                                                        <i class="far fa-chart-bar"></i>
                                                                    </i>
                                                                </label>
                                                                <h4 class="mt-2">Ranked vote</h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="button-row d-flex">
                                                    <button class="btn btn-primary js-btn-prev" type="button" title="Prev">Trước</button>
                                                    <button class="btn btn-primary ml-auto js-btn-next" type="button" name="btn_next" title="Next" disabled>Tiếp</button>
                                                </div>
                                            </div>
                                        </div>
                                        <!--single form panel-->
                                        <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn">
                                            <h3 class="multisteps-form__title text-center">Ứng cử viên</h3>
                                            <div class="multisteps-form__content">
                                                <div class="row ds_ungvien">
                                                    <div class="col-12 col-md-4">
                                                        <div class="card shadow-sm">
                                                            <div class="row" data-toggle="modal" data-target="#exampleModal">
                                                                <div class="block col-6 text-center">
                                                                    <label for="exampleModal">
                                                                        <i class="hovicon effect-1 sub-a">
                                                                            <i class="fas fa-user"></i>
                                                                        </i>
                                                                    </label>
                                                                </div>
                                                                <div class="col-6">
                                                                    <p class="m-0" style="line-height: 48px;">
                                                                        Thêm ứng cử viên
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="button-row d-flex mt-4 col-12">
                                                        <button class="btn btn-primary js-btn-prev" type="button" title="Prev">Trước</button>
                                                        <button class="btn btn-primary ml-auto js-btn-next" type="button" name="btn_next" title="Next">Tiếp</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--single form panel-->
                                        <div class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn">
                                            <h3 class="multisteps-form__title">Nội dung cuộc bầu cử</h3>
                                            <div class="multisteps-form__content">
                                                <div class="form-row mt-4">
                                                    <textarea name="editor1" id="editor1" class="content_election" width="100%"></textarea>
                                                </div>
                                                <div class="button-row d-flex mt-4">
                                                    <button class="btn btn-primary js-btn-prev" type="button" title="Prev">Trước</button>
                                                    <button class="btn btn-success ml-auto" id="xac_nhan" type="button" title="Send" disabled>Xác nhận</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="exampleModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Thêm ứng cử viên</h4>
            </div>
            <div class="modal-body row">
                <div class="col-8">
                    <div class="col-sm-12 form-group row">
                        <label class="col-sm-4 col-form-label font-weight-normal">Họ và tên</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="newElectorName" placeholder="Nguyễn Văn A">
                        </div>
                    </div>
                    <div class="col-sm-12 form-group row">
                        <label class="col-sm-4 col-form-label font-weight-normal">Giới tính</label>
                        <div class="col-sm-8 input-group">
                            <select style="-webkit-appearance:none;" class="custom-select" id="newElectorGender">
                                <option value="Nam">Nam</option>
                                <option value="Nu">Nữ</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12 form-group row">
                        <label class="col-sm-4 col-form-label font-weight-normal">Ngày sinh</label>
                        <div class="col-sm-8 input-group">
                            <input class="form-control datepicker_1" id="newElectorBirthDay" name="newElectorBirthDay" type="text" onkeypress="changeDate()" />
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="fas fa-calendar-week"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="text-center pointer">
                        <label for="file-input">
                            <img class="profile-user-img center-cropped img-circle avata" src="/Assets/img/avata/ava.jpg" alt="User profile picture">
                        </label>
                    </div>
                    <br />
                    <h3 class="profile-username text-center">Ảnh đại diện</h3>
                    <input id="file-input" type="file" accept="image/*" hidden/>
                </div>
            </div>
            <div class="modal-footer">
                <button id="addElector" type="button" class="btn btn-success">Xác nhận</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<script src="~/Assets/dist/js/CreateElection.js"></script>
@*<script src="~/Assets/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="~/Assets/plugins/daterangepicker/moment.min.js"></script>
    <script src="~/Assets/plugins/input-mask/min/jquery.inputmask.bundle.min.js"></script>
    <script src="~/Assets/plugins/select2/select2.full.min.js"></script>*@
<script src="~/Assets/plugins/ckeditor/ckeditor1.js"></script>
<script src="~/Assets/plugins/sweetalert2/sweetalert2.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script>
    setAnimationType('slideHorz');
    //CKEDITOR.replace('editor1', {
    //    customConfig: 'https://localhost:44394/Assets/dist/js/config_ckediter.js',
    //    language: "vi",
    //    width: "100%"
    //});
    
</script>