<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Assets/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
    <link rel="stylesheet" href="~/Assets/dist/css/adminlte.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <script src="~/Assets/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
</head>
<body>
    <div class="wrapper full-height">
        <nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
                </li>
                <li class="navbar-nav">
                    <a class="nav-link" href="~/Welcome">Trang chủ</a>
                </li>
                @if (ViewBag.title != "Trang chủ")
                {
                    <li class="navbar-nav">
                        <a class="nav-link" href="">@ViewBag.title</a>
                    </li>
                }
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/welcome/ThongTin_CaNhan" title="Trang chủ">
                        <i class="nav-icon fa fa-home"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/welcome/ThongTin_CaNhan" title="Thông báo">
                        <i class="nav-icon fas fa-bell"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/welcome/ThongTin_CaNhan" title="Thông tin cá nhân">
                        <i class="nav-icon fa fa-user"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Logout" title="Đăng xuất">
                        <i class="nav-icon fas fa-sign-out-alt"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <a href="ThongTin_CaNhan" class="brand-link">
                <img src="~/Assets/img/avata/ava.jpg" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Admin</span>
            </a>
            <div class="sidebar">
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item">
                            <a href="/Welcome/DS_DotBoPhieu" class="nav-link">
                                <i class="nav-icon fa fa-list"></i>
                                <p>
                                    Danh sách đợt bỏ phiếu
                                </p>
                            </a>
                        </li>
                        <li class="nav-header">CÁ NHÂN</li>
                        <li class="nav-item">
                            <a href="DS_Dathamgia" class="nav-link">
                                <i class="nav-icon fa fa-book"></i>
                                <p>
                                    Đợt bỏ phiếu đã tham gia
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-plus-square"></i>
                                <p>
                                    Tạo đợt bỏ phiếu
                                    <i class="fa fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="Them_BauCu" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Bầu cử</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/examples/500.html" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Bình chọn sản phẩm</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="pages/examples/blank.html" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Bài hát ưa thích</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="starter.html" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Cô gái đẹp nhất</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="/Welcome/all_block" class="nav-link">
                                <i class="nav-icon fa fa-list"></i>
                                <p>
                                    All Block (thử thôi)
                                </p>
                            </a>
                        </li>
                        <li class="nav-header">HƯỚNG DẪN</li>
                        <li class="nav-item">
                            <a href="HuongDan_SuDung" class="nav-link">
                                <i class="nav-icon fa fa-file"></i>
                                <p>Hướng dẫn sử dụng</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="~/Logout" class="nav-link">
                                <i class="nav-icon fas fa-sign-out-alt"></i>
                                <p>
                                    ĐĂNG XUẤT
                                </p>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                        </div>
                        <div class="col-sm-6">
                        </div>
                    </div>
                </div>
            </div>
            <section class="content" height="123px">
                @RenderBody()
            </section>
        </div>
        <footer class="main-footer">
            <strong>Khoa Công nghệ thông tin - NCKH sinh viên 2019-2020</strong>
        </footer>
        <aside class="control-sidebar control-sidebar-dark">
        </aside>
    </div>

    <script src="~/Assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Assets/plugins/chart.js/Chart.min.js"></script>
    <script src="~/Assets/dist/js/adminlte.js"></script>
    <script src="~/Assets/dist/js/pages/dashboard.js"></script>
    <script src="~/Assets/dist/js/demo.js"></script>
    <script src="~/Assets/plugins/jqueryFullHeight/fullHeight.js"></script>
    <script src="~/Assets/plugins/jqueryFullHeight/fullHeight.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.full-height').fullHeight();
            $('.content-wrapper').fullHeight1();
            $(".content-wrapper").css({ "overflow-x": "auto" });
        });

    </script>
    <script>

        $(".content-wrapper").css({ "min-height": "auto" });
    </script>
</body>

</html>